@font-face {
    font-family: F1-black;
    src: url(../fonts/Formula1-Black.ttf);
}

@font-face {
    font-family: F1-bold;
    src: url(../fonts/Formula1-Bold.ttf);
}

@font-face {
    font-family: F1-regular;
    src: url(../fonts/Formula1-Regular.ttf);
}

@font-face {
    font-family: F1-wide;
    src: url(../fonts/Formula1-Wide.ttf);
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-radius: 10px;
    width: 300px; /* Adjust width as needed */
    position: relative;
    transition: 0.2s ease;
}

.card-container:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
}

.team-logo {
    position: absolute;
    top: 0.5px; 
    right: 15px; 
    width: 70px; 
    height: auto;
}

.driver-img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px; /* Space between image and stats */
}

.driver-stats {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between stats */
    text-align: center;
    font-family: F1-regular;
}

.driver-stats b {
    display: block;
}

.driver-flag {
    border-radius: 15%;
    width: 70px;
    align-self: flex-start;
}

.driver-name {
    align-self: flex-start;
    width: 100%; 
    text-align: left; 
    font-family: F1-regular;
    padding-bottom: 3px;
    text-decoration: none;
    color: black;
  }

.red-bull {
    border-top: 2px solid black;
    border-right: 2px solid black;
}

.mclaren {
    border-top: 2px solid rgb(255, 128, 0);
    border-right: 2px solid rgb(255, 128, 0);

    .driver-name {
        color: rgb(255, 128, 0);
    }

    .driver-team-logo {
        top:4.5%;
        left: 3%;
    }
}

.mclaren > .team-logo {
    top: 20px;
}

.ferrari {
    border-top: 2px solid rgb(239, 26, 45);
    border-right: 2px solid rgb(239, 26, 45);

    .driver-name {
        color: rgb(239, 26, 45);
    }

    .driver-team-logo {
        top:2%;
    }
}

.ferrari > .team-logo {
    top: 10px;
}

.mercedes {
    border-top: 2px solid rgb(0, 161, 155);
    border-right: 2px solid rgb(0, 161, 155);

    .driver-name {
        color: rgb(0, 161, 155);
    }
}

.aston {
    border-top: 2px solid rgb(10, 121, 104);
    border-right: 2px solid rgb(10, 121, 104);

    .driver-name {
        color: rgb(10, 121, 104);
    }

    .driver-team-logo {
        top: 4.5%;
    }
}

.aston > .team-logo {
    top: 22px;
    right: 20px;
}

.haas {
    border-top: 2px solid rgb(158, 153, 155);
    border-right: 2px solid rgb(158, 153, 155);

    .driver-name {
        color: rgb(158, 153, 155);
    }
}

.rb {
    border-top: 2px solid rgb(14, 29, 197);
    border-right: 2px solid rgb(14, 29, 197);

    .driver-name {
        color: rgb(14, 29, 197);
    }
}

.williams {
    border-top: 2px solid rgb(0, 160, 222);
    border-right: 2px solid rgb(0, 160, 222);

    .driver-name {
        color: rgb(0, 160, 222);
    }
}

.kick {
    border-top: 2px solid rgb(0,231,1);
    border-right: 2px solid rgb(0,231,1);

    .driver-name {
        color: rgb(0,231,1);
    }
}

.alpine {
    border-top: 2px solid #FD4BC7;
    border-right: 2px solid #FD4BC7;

    .driver-name {
        color: #FD4BC7;
    }
}