@font-face {
    font-family: F1-black;
    src: url(../fonts/Formula1-Black.ttf);
}

@font-face {
    font-family: F1-bold;
    src: url(../fonts/Formula1-Bold.ttf);
}

@font-face {
    font-family: F1-regular;
    src: url(../fonts/Formula1-Regular.ttf);
}

@font-face {
    font-family: F1-wide;
    src: url(../fonts/Formula1-Wide.ttf);
}




/* .driver-img {
    width: 220px;

}
.driver-stats {
    font-family: F1-regular;
    font-size: 1.5vw;


} */


.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-radius: 10px;
    width: 300px; /* Adjust width as needed */
}

.driver-img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px; /* Space between image and stats */
}

.driver-stats {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between stats */
    text-align: center;
    font-family: F1-regular;
}

.driver-stats b {
    display: block;
}

.driver-flag {
    border-radius: 15%;
    width: 70px;
    align-self: flex-start;
}

.driver-name {
    align-self:flex-start;
    width: 100%; 
    text-align: left; 
    font-family: F1-regular;
    padding-bottom: 3px;
  }

.red-bull {
    border-top: 2px solid black;
    border-right: 2px solid black;
}

.mclaren {
    border-top: 2px solid rgb(255, 128, 0);
    border-right: 2px solid rgb(255, 128, 0);
}

.ferrari {
    border-top: 2px solid rgb(239, 26, 45);
    border-right: 2px solid rgb(239, 26, 45);
}

.mercedes {
    border-top: 2px solid rgb(0, 161, 155);
    border-right: 2px solid rgb(0, 161, 155);
}

.aston {
    border-top: 2px solid rgb(10, 121, 104);
    border-right: 2px solid rgb(10, 121, 104);
}

.haas {
    border-top: 2px solid rgb(158, 153, 155);
    border-right: 2px solid rgb(158, 153, 155);
}

.rb {
    border-top: 2px solid rgb(14, 29, 197);
    border-right: 2px solid rgb(14, 29, 197);
}

.williams {
    border-top: 2px solid rgb(0, 160, 222);
    border-right: 2px solid rgb(0, 160, 222);
}

.kick {
    border-top: 2px solid rgb(0,231,1);
    border-right: 2px solid rgb(0,231,1);
}

.alpine {
    border-top: 2px solid #FD4BC7;
    border-right: 2px solid #FD4BC7;
}
