@font-face {
    font-family: F1-black;
    src: url(../fonts/Formula1-Black.ttf);
}

@font-face {
    font-family: F1-bold;
    src: url(../fonts/Formula1-Bold.ttf);
}

@font-face {
    font-family: F1-regular;
    src: url(../fonts/Formula1-Regular.ttf);
}

@font-face {
    font-family: F1-wide;
    src: url(../fonts/Formula1-Wide.ttf);
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-radius: 10px;
    width: 300px;
    height: 380px;
    position: relative;
    transition: 0.7s ease;
    cursor: pointer; 
    transform-style: preserve-3d;

}

.front-card {
    width: 100%;  
    z-index: 1;
    position: relative;
    backface-visibility: hidden;

}


.back-card {
    width: 100%; 
    text-align: center;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden; 
}

.flip {
    transform: rotateY(180deg);
    perspective: 1000px;
    transition: 0.7s ease;
}

.back-card-driver-name {
    font-family: F1-bold;
    text-align: center;
}

.show-driver-stats {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-family: F1-regular;
    cursor: pointer;
    margin-top: 20%;
    position: relative;
}

.race-number {
    width: 100px;
    position: absolute;
    align-self: flex-end; 
    max-width: 100%; 
    height: auto;
}

.team-logo {
    position: absolute;
    margin-top: -27px;
    right: -5%; 
    width: 70px; 
    height: auto;
}

.driver-img {
    width: auto;
    border-radius: 10px;
    margin-bottom: 10px; 
    cursor: pointer;
    margin-top: 50px;
    max-height: 280px;
    
    
}

.driver-stats {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between stats */
    text-align: center;
    font-family: F1-regular;
}

.driver-stats b {
    display: block;
}

.driver-flag {
    border-radius: 15%;
    width: 70px;
    position: absolute;
    margin-top: 10px;
    margin-left: -12px;    
}

.driver-name {
    align-self: flex-start;
    width: 100%; 
    text-align: left; 
    font-family: F1-bold;
    padding-bottom: 3px;
    text-decoration: none;
    color: black;
    position: absolute;
    margin-top: -13px;
    margin-left: -10px;
  }

.red-bull {
    border-top: 2px solid black;
    border-right: 2px solid black;

    .front-card > .team-logo {
        top: -0.6%;
        right: -4%;
    }

    .back-card-driver-name {  
        border: none; 
    }

}

.mclaren {
    border-top: 2px solid rgb(255, 128, 0);
    border-right: 2px solid rgb(255, 128, 0);

    .driver-name {
        color: rgb(255, 128, 0);     
    }

    .driver-team-logo {
        top:5.5%;
        left: 3%;
    }

    .front-card > .team-logo {
        margin-top: -10px;
    }

    .back-card-driver-name {
        color: rgb(255, 128, 0);    
        border: none; 
    }
}

.mclaren > .team-logo {
    top: 20px;
    
}

.ferrari {
    border-top: 2px solid rgb(239, 26, 45);
    border-right: 2px solid rgb(239, 26, 45);

    .driver-name {
        color: rgb(239, 26, 45);
    }

    .driver-team-logo {
        top:2%;
    }

    .front-card > .team-logo {
        top: 10px;
    }

    .back-card-driver-name {
        color: rgb(239, 26, 45);
        border: none; 
    }
}

.ferrari > .team-logo {
    top: 10px;
}

.mercedes {
    border-top: 2px solid rgb(0, 161, 155);
    border-right: 2px solid rgb(0, 161, 155);

    .driver-name {
        color: rgb(0, 161, 155);
    }

    .front-card > .team-logo {
        top: 2.5%;
    }
     
    .back-card-driver-name {
        color: rgb(0, 161, 155);
        border: none; 
    }
}

.aston {
    border-top: 2px solid rgb(10, 121, 104);
    border-right: 2px solid rgb(10, 121, 104);

    .driver-name {
        color: rgb(10, 121, 104);
    }

    .driver-team-logo {
        top: 4.5%;
    }

    .front-card > .team-logo {
        top: 5%;
        right: -4%;
    }

    .back-card-driver-name {
        color: rgb(10, 121, 104);
        border: none; 
    }
}

.aston > .team-logo {
    top: 22px;
    right: 20px;
}

.haas {
    border-top: 2px solid rgb(158, 153, 155);
    border-right: 2px solid rgb(158, 153, 155);

    .driver-name {
        color: rgb(158, 153, 155);
    }

    .back-card-driver-name {
        color: rgb(158, 153, 155);
        border: none; 
    }
}

.rb {
    border-top: 2px solid rgb(14, 29, 197);
    border-right: 2px solid rgb(14, 29, 197);

    .driver-name {
        color: rgb(14, 29, 197);
    }

    .front-card > .team-logo {
        top: 2%;
        right: -6%;
    }

    .back-card-driver-name {
        color: rgb(14, 29, 197);
        border: none; 
    }
}

.williams {
    border-top: 2px solid rgb(0, 160, 222);
    border-right: 2px solid rgb(0, 160, 222);

    .driver-name {
        color: rgb(0, 160, 222);
    }

    .front-card > .team-logo {
        top: 1%;
    }

    .back-card-driver-name {
        color: rgb(0, 160, 222);
        border: none; 
    }
}

.kick {
    border-top: 2px solid rgb(0,231,1);
    border-right: 2px solid rgb(0,231,1);

    .driver-name {
        color: rgb(0,231,1);
    }

    .front-card > .team-logo {
        top: 1.2%;
    }

    .back-card-driver-name {
        color: rgb(0,231,1);
        border: none; 
    }
}

.alpine {
    border-top: 2px solid #FD4BC7;
    border-right: 2px solid #FD4BC7;

    .driver-name {
        color: #FD4BC7;
    }

    .back-card-driver-name {
        color: #FD4BC7;
        border: none; 
    }
}