
.driver-stats-page-container {
    display: flex;
    width: 100%;
    height: 100vh; /* Full height of the viewport */
    padding: 20px; /* Add some padding */
    box-sizing: border-box; /* Include padding in the width and height */
    background-color: white; /* Light background color */
}

.stat-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.driver-photo-and-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 45%;
    border-radius: 15px;
    position: relative;
}

.driver-photo {
    max-width: 400px; /* Set a max width for the image */
    height: auto;
}

.name-header {
    margin-top: 10px;
    font-size: 24px;
    font-family: F1-regular;
    text-align: center; /* Ensure the text is centered */
    width: 100%; /* Ensure it takes the full width of the container */
    color: black;
}

.driver-stats-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: 18px;
    font-family: F1-regular;
    margin-right: 35%;
   
}

.driver-stats-page b {
    margin-bottom: 10px;
    color: black;
}


.name-and-flag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.driver-stats-flag {
    width: 70px;
    padding-top: 10px;
}

.driver-team-logo {
    width: 85px;
    position: absolute;
    left: 5%;
    top: -1%;

}

.race-number {
    width: 115px;
    position: absolute;
    margin-top: 15px;
    left: 70%;

}
