
.driver-page-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .driver-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }

.driver-gallery > * {
    flex: 1 0 22%;
    margin: 10px;
    box-sizing: border-box;
  }