@font-face {
    font-family: F1-black;
    src: url(../fonts/Formula1-Black.ttf);
}

@font-face {
    font-family: F1-bold;
    src: url(../fonts/Formula1-Bold.ttf);
}

@font-face {
    font-family: F1-regular;
    src: url(../fonts/Formula1-Regular.ttf);
}

@font-face {
    font-family: F1-wide;
    src: url(../fonts/Formula1-Wide.ttf);
}



.race-result-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
}

.location-info {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: F1-regular;
    /* border-right: 2px solid black;
    border-top: 2px solid black;
    border-radius: 4%;
    padding-left: 10px; */
    

    img {
        width: 100px;
        padding: 20px;
    }

    h3 {
        margin: 0;
        padding: 20px;
    }
}

.circuit-info {
    font-family: F1-regular;
    text-align: center;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    /* border-left: 2px solid black;
    border-top: 2px solid black;
    border-radius: 4%; */
}

.circuit-info h3 {
    padding: 20px;
    margin: 0;
}

.circuit-info-img {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: F1-regular;
}

.loading-header {
    text-align: center;
    font-family: F1-wide;
    margin-top: 15%;
}

.fastest-info {
    font-family: F1-regular;
    display: flex;
    flex-direction: column;
}

.record-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -17px;
    width: auto;
    height: auto;
}

.record-holder-img {
    width: 35px;
    height: auto;
    margin-left: 5px;
}


.race-entry-Race {
    color: blue;
}



.race-nav {
    width: auto; /* Adjust width as needed */
    height: auto;
    background-color: #f0f0f0;
    padding: 20px 0;
    font-family: F1-regular;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    align-self: flex-start;
  }

  .race-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .race-nav li {
    cursor: pointer;
    font-size: 20px;
    padding: 40px;
    margin-left: 10px;
  }
  
  .race-nav li:hover {
    background-color: #e0e0e0;
  }
  
  .race-nav li.active {
    background-color: #ffffff;
    border-left: 4px solid #e10600;
    padding-left: 16px; /* Compensate for the border */
    font-family: F1-bold;
  }

  .race-nav-inner {
    width: 100%;
  }

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding-top: 100px;
}

.gp-header {
    position: absolute;
    text-align: center;
    font-family: F1-bold;
    border-bottom: 2px solid black;
    padding: 5px;
}

.race-result-container span {
    font-family: F1-bold;
}

.displayed-race-info-positions-container {
    width: 100%;
}

.race-type-header {
    text-align: center;
    font-family: F1-wide;
    color: rgb(194, 52, 52);
    text-shadow: 10px 5px 6px rgba(0, 0, 0, 0.4);

}

.finishing-positions-header {
    font-family: F1-bold;
    font-size: 30px;
    padding: 10px;
    width: 100%;
    height: auto;
    text-align: center;
    text-shadow: 5px 2px 6px rgba(0, 0, 0, 0.4);

}



