@font-face {
    font-family: F1-black;
    src: url(../fonts/Formula1-Black.ttf);
}

@font-face {
    font-family: F1-bold;
    src: url(../fonts/Formula1-Bold.ttf);
}

@font-face {
    font-family: F1-regular;
    src: url(../fonts/Formula1-Regular.ttf);
}

@font-face {
    font-family: F1-wide;
    src: url(../fonts/Formula1-Wide.ttf);
}

.schedule-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
}

.entire-calendar {
    align-self: center;
    width: auto;
    height: auto;
}

.race-info {
    margin-top: 10px;
    padding: 15px;
    padding-bottom: 0;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    border: 2px solid grey;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    width: 70%;
}

.race-info h3 {
    margin-top: 0;
    color: white;
    font-family: F1-bold;
    letter-spacing: 1.5px;
}

.race-info h3:nth-child(2) {
    /* color: #ff4081; */
}

.race-info > .winner {
    /* color: gold; */
}

.info-disclaimer {
    width: 300px;
    height: auto;
    text-align: center;
    margin-top: -30px;
    font-size: 11px;
    font-family: F1-regular;
    color: white;

}

.race-info-btn {
    width: auto;
    position: absolute;
    right: 1%;
    top: 3.8%;
    font-family: F1-bold !important;
    color: black !important;
    transition: 0.5s ease;
}

.race-info-btn:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
}
