.team-ranking-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
    box-sizing: border-box;
}

.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    /* border-top: 2px solid black;
    border-right: 2px solid black; */
    border-radius: 10px;
    width: 685px;
    height: 500px;
    position: relative;
    transition: 0.2s ease;
    overflow: hidden;
    margin-top: 10px;
    font-family: F1-wide;
}
.team-name {
    position: absolute;
    margin-top: 10px;
    font-size: 30px;

}

.team-car {
    width: 100%;
    height: auto;
    margin-top: 45%;
    justify-content: center;
    align-items: center;
}

.loading-text {
    text-align: center;
    font-family: F1-wide;
    margin-top: 10%;
}

#team-specific {
    text-align: center;
    font-family: F1-wide;
}



.team-points {
    position: absolute;
    margin-top: 65px;
    font-family: F1-regular;
}

.team-rank-number {
    position: absolute;
    top: -25px;
    left: 15px;
    font-size: 40px;
}

